### PSoCCreator ###
# Modified from https://www.gitignore.io/?templates=psoccreator

# Project Settings
*.cywrk.*
*.cyprj.*

# Generated Assets and Resources
Debug/
Release/
Export/
CortexM3/
components/DDS24_lib/
codegentemp
Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
*.log
*.zip
*.ps1
